.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	fill: currentColor;
}
.icon-icono1 {
	/*fill: #758a9d;*/
}
.icon-icono2 {
	/*fill: #758a9d;*/
}
.icon-icono3 {
	/*fill: #758a9d;*/
}
.icon-icono4 {
	/*fill: #758a9d;*/
}
.icon-icono5 {
	/*fill: #758a9d;*/
}
.icon-icono6 {
	/*fill: #758a9d;*/
}
.icon-icono7 {
	/*fill: #758a9d;*/
}
.icon-icono8 {
	/*fill: #758a9d;*/
}
.icon-icono9 {
	/*fill: #758a9d;*/
}
