        <!--DETALLE DE REPORTE-->
        <div class="c-report">
            <div class="container-report">
                <!--REPORT-->
                <div class="report">
                    <img class="img-top" src="images/image-report-ref.jpg" alt=""/>
                    <div class="info-report scrolled-report">
                        <!--Intro Report-->
                        <div class="intro-report">
                            <h3>Alcantarilla obstruida</h3>
                            <address>Bv. Gral. Artigas 1234 esq Eduardo Victor Haedo</address>
                            <p>
                            Donec quis turpis et elit vehicula dignissim ut quis lectus. Aenean gravida nisi vitae enim dignissim 
                            imperdiet. Ut eu viverra odio. Integer commodo massa mi, sit amet 
                            rutrum nunc vestibulum at. Integer viverra rhoncus mauris id laoreet. 
                            </p>
                            <span class="sign">Por <a href="javascript:;">Roberto Ricci</a>, ayer a las 19:00hs</span>
                        </div>
                        <!--Status Report-->
                        <div class="status-report">
                            <h4>Estado del reporte</h4>
                            <ul>
                                <li>
                                    Cuadrilla asignada para el 16/05/2014
                                    <span class="time-report">hace 1 hr</span>
                                </li>
                                <li>
                                    Problema ingresado al sistema
                                    <span class="time-report">hace 4 días</span>
                                </li>
                            </ul>
                        </div>
                        <!--Comments Report-->
                        <div class="comment-reports">
                            <div class="comment comment-user">
                                <div class="user-avatar"><img src="images/user-1.png" alt=""/></div>
                                <div class="user-info">
                                    <form role="form">
                                        <textarea rows=""></textarea>
                                    </form>
                                </div>                            
                            </div>
                            <div class="comment">
                                <div class="user-avatar"><img src="images/user-2.png" alt=""/></div>
                                <div class="user-info">
                                    <h4>Zlatan Ibrahimovic</h4>
                                    <span class="time-report">hace 2 días</span>
                                </div>
                                <div class="user-comment">
                                    <p>
                                        "You remember when your dad taught you to swim?" The boy nodded. "Well, in the University of 
                                        California” - that is the name we had for the houses - we taught young men and women 
                                        how to think, just as I have taught you now, by sand and pebbles and shells, to 
                                        know how many 
                                    </p>
                                </div>                            
                            </div>
                            <div class="comment imm-comment">
                                <div class="user-avatar"><img src="images/user-imm.png" alt=""/></div>
                                <div class="user-info">
                                    <h4>Intendencia de Montevideo</h4>
                                    <span class="time-report">hace 4 días</span>
                                </div>
                                <div class="user-comment">
                                    <p>
                                        La cuadrilla #12345 fue asignada para resolver este problema para el 16/05. Cualquier consulta...
                                    </p>
                                </div>                            
                            </div>
                            <div class="comment">
                                <div class="user-avatar"><img src="images/user-3.png" alt=""/></div>
                                <div class="user-info">
                                    <h4>Olivia Wilde</h4>
                                    <span class="time-report">hace 2 meses</span>
                                </div>
                                <div class="user-comment">
                                    <p>
                                        Ok, I saw this yesterday.
                                    </p>
                                </div> 
                                <div class="user-picture">
                                    <img src="images/image-report-ref-user.jpg" alt=""/>
                                </div>                           
                            </div>
                        </div>
                    </div>
                </div>
                <!--end report-->
            </div>
            <!--end container report-->   
        </div>
        <!--end detalle de reporte report-->       
